Flask==2.0.3
gunicorn==19.7.1
google-api-python-client==2.52.0
pep8==1.7.1
psycopg2-binary==2.9.8
requests==2.27.1
coverage==4.2
flask-cors==4.0.0
python-dotenv==0.20.0
Flask-SQLAlchemy==2.4.1
SQLAlchemy==1.3.23
pylint==2.13.9
werkzeug==2.0.3
pdoc==13.1.1
